name: Run Maven Tests

on:                          # WHEN pipeline should run
  workflow_dispatch:         # run manually from GitHub UI
  push:                      # OR auto-run whenever code is pushed
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest   # GitHub server OS

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Maven Tests
        run: mvn clean test
